<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="row">
            <div class="col-12 cart_inner">
                <div class="table-responsive">
                    <table class="table" style="font-size: 19px">
                        <thead>
                            <tr>
                                <th scope="col" style="font-size: 17px; font-weight: bold">Sản phẩm</th>
                                <th scope="col" style="font-size: 17px; font-weight: bold">Giá</th>
                                <th scope="col" style="font-size: 17px; font-weight: bold">Số lượng</th>
                                <th scope="col" style="font-size: 17px; font-weight: bold">Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody id="cartProducts">
                            {{!-- list products in cart --}}
                        </tbody>
                    </table>
                </div>
                <div style="text-align: right" id="wrapBtnPay">
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Cart Area =================-->