<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="row">
            <div class="col-12 cart_inner">
                <div class="table-responsive">
                    <table class="table" style="font-size: 19px">
                        <thead>
                            <tr>
                                <th scope="col" style="font-size: 17px; font-weight: bold">Sản phẩm</th>
                                <th scope="col" style="font-size: 17px; font-weight: bold">Giá</th>
                                <th scope="col" style="font-size: 17px; font-weight: bold">Số lượng</th>
                                <th scope="col" style="font-size: 17px; font-weight: bold">Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div>
                                        <img src="/images/product01.png" alt="" style="width: 150px" />
                                        <span style="font-weight: 500">Minimalistic shop</span>
                                    </div>
                                </td>
                                <td>
                                    $360.00
                                </td>
                                <td>
                                    <div class="product_count">
                                        <input type="number" name="qty" id="sst" maxlength="12" value="1"
                                            title="Quantity:" class="input-text qty"></div>
                                </td>
                                <td>
                                    $720.00
                                </td>
                                <td>
                                    <span style="color: Tomato;">
                                        <i id="delete" class="fa fa-trash-o fa-2x"></i>
                                    </span>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <img src="/images/product01.png" alt="" style="width: 150px" />
                                        <span style="font-weight: 500">Minimalistic shop</span>
                                    </div>
                                </td>
                                <td>
                                    $360.00
                                </td>
                                <td>
                                    <div class="product_count">
                                        <input type="number" name="qty" id="sst" maxlength="12" value="1"
                                            title="Quantity:" class="input-text qty"></div>
                                </td>
                                <td>
                                    $720.00
                                </td>
                                <td>
                                    <span style="color: Tomato;">
                                        <i id="delete" class="fa fa-trash-o fa-2x"></i>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" style="text-align: right; font-weight: bold; padding-right: 18px">Tổng
                                    cộng</td>
                                <td colspan="2">
                                    12345000
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="text-align: right">
                    <a class="primary-btn" href="#">Thanh toán</a>
                </div>
            </div>
</section>
<!--================End Cart Area =================-->