<div class="container margin-top-50">
    <div class="col-md-6 col-md-offset-3">
        <div class="row myborder">
            <form method="post" action="/users/forget">
                <h4 style="color: #05b56ba6; margin-bottom: 10px;">Đặt lại mật khẩu</h4>
                <hr>
                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon"><i class="fa fa-user mycolor"></i></span>
                    <input size="60" maxlength="255" class="form-control" placeholder="Email đăng nhập"
                        name="UserRegistration[username]" id="UserRegistration_username" type="email">
                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align: center">
                        <button class="btn-u" type="submit">Lấy mật khẩu</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>