<div class="container margin-top-50">
    <div class="row">

        <div class="col-sm-3 col-md-2">
            <!-- account tab nav -->
            <div>
                <a class="dropdown-item" href="/users/account">Thông tin cá nhân</a>
                <a class="dropdown-item" href="/users/history">Lịch sử giao hàng</a>
            </div>
            <!-- /account tab nav -->
        </div>
        <!-- account tab content -->
        <div class="col-sm-9 col-md-10">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Mã đơn hàng</th>
                        <th scope="col">Ngày mua</th>
                        <th scope="col">Sản phẩm</th>
                        <th scope="col">Tổng tiền</th>
                        <th scope="col">Trạng thái đơn hàng</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>11/11/2011</td>
                        <td>Minimalistic shop</td>
                        <td>123 000</td>
                        <td>Giao hàng thành công</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>11/11/2011</td>
                        <td>Minimalistic shop</td>
                        <td>123 000</td>
                        <td>Đang giao</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>11/11/2011</td>
                        <td>Minimalistic shop</td>
                        <td>123 000</td>
                        <td>Chưa giao</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /tab2 -->
    </div>
    <!-- /account tab content -->
</div>
</div>