<div class="container margin-top-50" class="text-center">
    <div class="row">

        <div class="col-sm-4 col-md-3">
            <!-- account tab nav -->
            <div class="nav-ver">
                <ul>
                    <li><a href="/users/account">Thông tin cá nhân</a></li>
                    <li><a class="selected-a" href="/users/history">Lịch sử giao hàng</a></li>
                    <li><a href="/users/change-pass">Đổi mật khẩu</a></li>
                </ul>
            </div>
            <!-- /account tab nav -->
        </div>
        <!-- account tab content -->
        <div class="col-sm-8 col-md-8 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th style="text-align: center" scope="col">Mã đơn hàng</th>
                        <th style="text-align: center" scope="col">Ngày mua</th>
                        <th style="text-align: center" scope="col">Sản phẩm</th>
                        <th style="text-align: center" scope="col">Tổng tiền</th>
                        <th style="text-align: center" scope="col">Trạng thái đơn hàng</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th style="text-align: center" scope="row">1</th>
                        <td height="60" class="text-center">11/11/2011</td>
                        <td height="60" class="text-center">Minimalistic shop</td>
                        <td height="60" class="text-center">123 000</td>
                        <td height="60" class="text-center">Giao hàng thành công</td>
                    </tr>
                    <tr>
                        <th style="text-align: center" scope="row">2</th>
                        <td height="60" class="text-center">11/11/2011</td>
                        <td height="60" class="text-center">Minimalistic shop</td>
                        <td height="60" class="text-center">123 000</td>
                        <td height="60" class="text-center">Đang giao</td>
                    </tr>
                    <tr>
                        <th style="text-align: center" scope="row">3</th>
                        <td height="60" class="text-center">11/11/2011</td>
                        <td height="60" class="text-center">Minimalistic shop</td>
                        <td height="60" class="text-center">123 000</td>
                        <td height="60" class="text-center">Chưa giao</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /tab2 -->
    </div>
    <!-- /account tab content -->
</div>
</div>