<div class="container margin-top-50">
    <div class="col-md-6 col-md-offset-3">
         <div class="row myborder">
             <h4 style="color: #05b56ba6; margin: initial; margin-bottom: 10px;">Đăng ký</h4><hr>
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="fa fa-user mycolor"></i></span>
                <input size="60" maxlength="255" class="form-control" placeholder="Tên đăng nhập" name="UserRegistration[username]" id="UserRegistration_username" type="text">                                                        
            </div>
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="fa fa-lock mycolor"></i></span>
                <input size="60" maxlength="255" class="form-control" placeholder="Mật khẩu" name="UserRegistration[password]" id="UserRegistration_password" type="password">                                    
            </div>
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="fa fa-user mycolor"></i></span>
                <input size="60" maxlength="255" class="form-control" placeholder="Họ và tên" name="UserRegistration[fname]" id="UserRegistration_fname" type="text">                                    </div>
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="fa fa-envelope mycolor"></i></span>
                <input size="60" maxlength="255" class="form-control" placeholder="Địa chỉ" name="UserRegsistration[address]" id="UserRegistration_address" type="text">                                    </div>
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="fa fa-phone mycolor"></i></span>
                <input size="60" maxlength="255" class="form-control" placeholder="Số điện thoại" name="UserRegistration[contactnumber]" id="UserRegistration_contactnumber" type="text">                                    </div>
            
            <div class="row">
                <div class="col-md-12" style="text-align: center">
                    <button class="btn-u col-sm-12" type="submit">Đăng ký</button>
                </div>
            </div>
        </div>
    </div>
</div>