<div class="container">
            <div class="col-sm-12">
                <h2 class="text-uppercase"><span class="glyphicon glyphicon-list-alt"></span>Danh sách đơn hàng</h2>
                <div>
                    <form action="#" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-4">
                              <span class="input-group">
                                <input type="text" placeholder="Search for..." class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
                                </span>
                            </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-responsive">
                  <table class="table table-bordered table-hover">
                    <thead>
                      <tr class="success">
                        <th>Mã user</th>
                        <th>Tên đăng nhập</th>
                        <th>Mật khẩu</th>
                        <th>Địa chỉ</th>
                        <th>Số điện thoại</th>
                        <th>Hành động</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="">
                        <th>01</th>
                        <td>Data</td>
                        <td>Data</td>
                        <td>Data</td>
                        <td>Data</td>
                        <td>
                          <div class="btn-group">
                            <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Edit</a> 
                            <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</a>
                          </div>
                        </td>
                      </tr>
                      </tr>
                      <tr  class="info">
                        <th>02</th>
                        <td>Data</td>
                        <td>Data</td>
                        <td>Data</td>
                        <td>Data</td>
                        <td>
                          <div class="btn-group">
                            <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Edit</a> 
                            <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</a>
                          </div>
                        </td>
                      <tr>
                        <th>03</th>
                        <td>Data</td>
                        <td>Data</td>
                        <td>Data</td>
                        <td>Data</td>
                        <td>
                          <div class="btn-group">
                            <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Edit</a> 
                            <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</a>
                          </div>
                        </td>
                      <tr>
                        <td colspan="6">
                          <div class="btn-group">
                            <button href="#" class="btn btn-success"><span class="glyphicon glyphicon-chevron-left"></span></button> <button href="#" class="btn btn-success"><span class="glyphicon glyphicon-chevron-right"></span></button>
                          </div>
                        </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>
    